<app-header-component></app-header-component>
 <br/> <br/>
<!-- <cxt-progress-bar complete="80"></cxt-progress-bar>

<cxt-component>
    <style>
       .mybg{
         background: green;
       }
    </style>
    <div class="mybg">I am a testing bg</div>
</cxt-component> -->

<h2 style="text-align: center;">CRUD Operation</h2>
    <div class="flex-container">
        <div>
          <input type="text" class="form-control" placeholder="Type here to search..." #searchText />
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="searchFunction(searchText)">search</button>
        </div>
    </div>    
   <hr/>
<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <div class="flex-container">
        <div>
            <input type="text" class="form-control" formControlName="name" placeholder="Name"/>
        </div>
        <div>
            <input type="email" class="form-control" formControlName="email" placeholder="Email" email/>
        </div>
        <div>
            <input type="text" class="form-control" minlength="10" formControlName="mobile" placeholder="Mobile"/>
        </div>
        <div>
            <input type="text" class="form-control" formControlName="address" placeholder="Address"/>
        </div>
        <div>
            <button type="submit" mat-raised-button color="primary" [disabled]="!dataForm.valid">+ Add Data</button>
        </div>
    </div>
</form>
<div>
    <table class="table">
        <thead>
          <tr>
            <th>Sl. No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dta of crudData; let i = index;">
            <td>{{i+1}}</td>
            <td>{{dta.name}}</td>
            <td>{{dta.email}}</td>
            <td>{{dta.mobile}}</td>
            <td>{{dta.address}}</td>
            <td>
              <button type="button" mat-raised-button color="primary" (click)="updateData(dta)">Edit</button>&nbsp;
              <button type="button" mat-raised-button color="warn" (click)="deleteData(dta._id)">Delete</button>
            </td>
          </tr>        
        </tbody>
      </table>
</div>

<!-- <cxt-footer 
poweredby="CXT Technologies"
rights="@2019 - 2020, CXT, All right reserved"      
>
</cxt-footer> -->
<router-outlet></router-outlet>